<!DOCTYPE html>

<html>
    <head>
        <!-- <link rel="stylesheet" href="{{ url_for('static',filename='../styles/index.css') }}"> -->.
        <link rel="stylesheet" href="../static/styles/index.css">
        <title> SAMPLE TITLE </title>
    </head>

    <body>
        <div class="login_form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">

            <label for="password">Password: </label>
            <input type="password" id="password" name="password">

            <button>Log in!</button>
        </div>
    </body>
</html>